.header {
  background-color: rgba(0, 21, 41, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.item {
  padding: 20px;
  text-decoration: none;
  color: #c3c3c3;
  font-size: 15px;
}
.group {
  list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/******************** R E S P O N S I V E    9 5 0 P X********************/
@media only screen and (max-width: 950px) {
    .item {
        padding: 18px 5px 18px 5px;
  }
}