
.weatherWidget {
    width: 360px;
    height: 196px;
    padding: 10px;
    right: 20px;
    top: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 99;
    color: white;
    opacity: 0.95;
    animation-name: weatherWidget;
    animation-duration: 0.5s;
  }
  .ww-background-rainycloudy {
    background-image: url('/public/images/weatherwidget/background/rainycloudy.jpg');
  }
  .ww-background-clearday {
    background-image: url('/public/images/weatherwidget/background/clearday.jpg');
  }
  .ww-background-clearnight {
    background-image: url('/public/images/weatherwidget/background/clearnight.jpg');
  }
  @keyframes weatherWidget {
    0%   {filter: blur(1200px); }
    100% {filter: blur(0px); }
  }
  .ww-name {
    font-weight: 700;
    letter-spacing: 2px;
    display:flex;
    justify-content: flex-center;
    align-items: center;
  }
  .ww-name-form { 
    max-width: 160px; 
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .ww-name-form-input {
    width: 120px; 
    height: 30px;
  }
  .ww-name-form-opacity {
    color: white;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .ww-name-form-opacity:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .ww-name-form-opacity:focus {
    background-color: rgba(255, 255, 255, 0);
  }
  .ww-name-form-opacity:not(:hover) {
    background-color: rgba(255, 255, 255, 0);
  }
  .ww-name-form-button {
    border: 0px;
    background-color: rgba(28, 34, 90, 0);
    cursor: pointer;
  }
  .ww-name-change-icon {
    width: 9px;
    margin-left: 10px;
    margin-top: 2px;
    border: 2px solid white;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px black;
  }
  .ww-current {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .ww-current-degrees {
    font-size: 40px;
    width: 80px;
    text-align: center;
  }
  .ww-current-picto {
    margin-top: -5px;
    width: 80px;
  }
  .ww-current-status {
    font-size: 18px;
    width: 80px;
    text-align: center;
  }
  .ww-spacer {
  width: 95%;
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  margin-bottom: 8px;
  }
  .ww-forecast-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
  }
  .ww-forecasts {
    display: flex;
    overflow-x: hidden; /* Hide scrollbars */
    scroll-behavior: smooth;
    width: 100%;
    margin-left: -15px;
    transition: transform 0.3s ease; /* Smooth transition for transform */
  }
  
  .ww-forecast-button {
    padding: 25px 0px 25px 0px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    z-index: 999;
  }
  .ww-forecast-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background-color: rgba(61, 61, 61, 0.5);
  }
  .ww-forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ww-forecast-item-timeOrdate {
    font-size: 12px;
    text-align: center;
  }
  .ww-forecast-item-picto {
    width: 50px;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .ww-forecast-item-degrees {
    font-size: 14px;
    text-align: center;
  }